[submodule "src/main/resources/xml-schema"]
	path = src/main/resources/xml-schema
	url = https://github.com/datacite/schema/
[submodule "src/main/resources/json-schema"]
	path = src/main/resources/json-schema
	url = https://github.com/inveniosoftware/datacite
[submodule "src/main/resources/rest-api"]
	path = src/main/resources/rest-api
	url = https://github.com/daherb/lupo
